.vscode/
*.vcxproj
*.vcxproj.*
*.suo
CMakeCache.txt
cmake_install.cmake
*.sln
*.pdb
*.ipch
*.obj
*.recipe
*.log
*.tlog
CMakeFiles/
*.db*
*.opendb*
*.exe
bin/
extern/
*.cdm
lib/
Cache/
imgui.ini
Version.h
